@import '../utils//variables.scss';

button {
    padding: 1.3em /* 3em */;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: $black;
    background-color: #23c483;
    border: none;
    border-radius: $border-radius-narrow;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: $red;
        box-shadow: 0px 15px 20px #CC3300;
        color: #fff;
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(-1px);
    }
}