@mixin centered-column-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}