@mixin centered-column-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow {
    -webkit-box-shadow: 0px 6px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 18px -3px rgba(0, 0, 0, 0.75);
}

