@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$app-font-family:'Roboto', sans-serif;

$beige:#ede7d9;
$red:#820933;
$black:black;
$dark-gray:#383d3b;
$medium-gray:#2e2f2f;
$light-gray: lightgrey;
$innactive: #f5efff;

$border-radius-narrow:45px;
$border-radius-wide:15px;
