@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$app-font-family:'Roboto', sans-serif;

$app-background-color:#ede7d9;
$border-color:#820933;
$font-color:black;
$card-background-color:#383d3b;
$button-background-color:lightgrey;
$innactive: #f5efff;

$border-radius-narrow:45px;
$border-radius-wide:15px;
